SANDSHREW_API_KEY="your_sandshrew_api_key_here"
ORDISCAN_API_KEY="your_ordiscan_api_key_here"
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/"
UNISAT_API_KEY="your_unisat_api_key_here"
