# Api Keys
NOWNODES_API_KEY="your_now_nodes_api_key_here"
ORDISCAN_API_KEY="your_ordiscan_api_key_here"
UNISAT_API_KEY="your_unisat_api_key_here"

# Database connection
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/"
MONGODB_DB_NAME="shovel"

# Jobs CRON schedules
BROADCAST_CRON="20 * * * * *"
SYNC_MEMPOOL_CRON="40 * * * * *"
SYNC_TOKENS_CRON="0 * * * * *"
SYNC_CALCULATED_FIELDS_CRON="0 0 * * * *"
